html {
  --inlineCode-bg: aliceblue;
  --inlineCode-text: #1a1a1a;
  --inlineCode-border: #d4d4d4;
  --textColor: #000000;
  --backgroundColor: #ffffff;
  --linkColor: #9250B8;
  --catEyeColor: #e0dcdc;

  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

.darkMode {
  --textColor: #e0dcdc;
  --backgroundColor: #363535;
  --linkColor: rgb(208, 62, 142);
  --inlineCode-bg: rgb(121, 129, 183);
  --inlineCode-border: #271111;
  --inlineCode--text: #271111;
  --catEyeColor: #f3be21;
}

a {
  color: var(--linkColor);
}

details {
  border: 3px solid var(--textColor);
  max-width: 300px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

summary {
  display: block;
  border-bottom: 3px solid var(--textColor);
  cursor: pointer;
  text-align: center;
}

.dropdown_menu {
  max-height: 200px;
  overflow-y: scroll;
  margin: auto;
  padding: .5em 0;
  list-style: none;
}

.dropdown_menu li {
  padding-left: 1em;
  overflow-wrap: break-word;
	word-wrap: break-word;
  word-break: break-word;
  margin-bottom: .5em;
}

@media screen and (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

.svg__image--size {
  margin: 0 auto;
  width: 10vw;
  height: auto;
  display: block;
}

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
 code[class*='language-'],
 pre[class*='language-'] {
   color: white;
   background: none;
   font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
   font-feature-settings: normal;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   margin-bottom: 0;
   margin-top: 0;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
/* Code blocks */
pre[class*='language-'] {
  padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}
 
 pre[class*='language-']::selection {
   /* Safari */
   background: hsl(207, 4%, 16%);
 }
 
 /* Text Selection colour */
 pre[class*='language-']::-moz-selection,
 pre[class*='language-'] ::-moz-selection {
   text-shadow: none;
   background: hsla(0, 0%, 100%, 0.15);
 }
 
 pre[class*='language-']::selection,
 pre[class*='language-'] ::selection {
   text-shadow: none;
   background: hsla(0, 0%, 100%, 0.15);
 }
 
 /* Inline code */
 :not(pre) > code[class*='language-'] {
   border-radius: 0.3em;
   background: var(--inlineCode-bg);
   color: var(--inlineCode-text);
   padding: 0.15em 0.2em 0.05em;
   white-space: normal;
   border: 2px solid var(--inlineCode-border);
   font-size: .8em;
 }
 
 .token.attr-name {
   color: rgb(173, 219, 103);
   font-style: italic;
 }
 
 .token.comment {
   color: rgb(99, 119, 119);
 }
 
 .token.string,
 .token.url {
   color: #97C475;
 }
 
 .token.variable {
   color: rgb(214, 222, 235);
 }
 
 .token.number {
   color: rgb(220, 200, 27);
 }
 
 .token.builtin,
 .token.char,
 .token.constant,
 .token.function {
   color: #5DAEF2;
 }
 
 .token.punctuation {
   color: rgb(99, 119, 119);
 }
 
 .token.selector,
 .token.doctype {
   color: #C775DF;
   font-style: 'italic';
 }
 
 .token.class-name {
   color: rgb(255, 203, 139);
 }
 
 .token.tag,
 .token.keyword {
   color: #C775DF;
 }


 .token.operator {
  color: #51B6C3
 }
 
 .token.boolean {
   color: #D29B62
 }
 
 .token.property {
   color: rgb(128, 203, 196);
 }
 
 .token.namespace {
   color: rgb(178, 204, 214);
 }
 
 pre[data-line] {
   padding: 1em 0 1em 3em;
   position: relative;
 }

 .gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: #282C34;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  font-size: .8em;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
}